body {
    margin: 0;
    font-family: "Press Start 2P", sans-serif;
    background: #1a1a1a;
}

header {
    background: #256677;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #ffdc22;
    text-shadow: 4px 4px 0 #c39200;
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 850px;
    margin: 60px auto;
    background: #2e2e2e;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #ffdc22;
}

.container p {
    font-size: 1.15rem;
    line-height: 1.7;
    color: #dcdcdc;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 1.2rem;
    background: #256677;
    color: #dcdcdc;
    border: 6px solid #ffffff;
    box-shadow: 0 8px 0 #777;
    text-decoration: none;
    transition: 0.3s;
}

.quiz_text {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0.5; }
  100% { opacity: 1; }
}

.btn:hover {
    background: #20806a;
}

.btn_hidden {
    display: inline-block;
    margin-top: 26px;
    padding: 8px 28px;
    font-size: 1rem;
    background: #256677;
    color: #dcdcdc;
    border: 4px solid #ffffff;
    box-shadow: 0 6px 0 #777;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Press Start 2P", sans-serif;
}

.btn_hidden:hover {
    background: #20806a;
}

.faq {
    margin-top: 30px;
    text-align: left;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid #cbd5d8;
    box-shadow: 0 8px 0 #777;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    background: #256677;
    font-family: "Press Start 2P", sans-serif;
    color: #dcdcdc;
    padding: 15px;
    font-size: 1.1rem;
    text-align: left;
    border: 6px solid #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 15px;
    background: #f7fbfc;
    font-size: 1rem;
}

.faq-answer.open {
    display: block;
}

.arrow {
    transition: 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}





.quiz-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}

.answer-btn {
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid #256677;
    background: #eef5f8;
    cursor: pointer;
    transition: 0.3s;
}

.answer-btn:hover {
    background: #dcecef;   }