body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef5f8;
}

header {
    background: #256677;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 850px;
    margin: 60px auto;
    background: white;
    padding: 35px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #256677;
}

.container p {
    font-size: 1.15rem;
    line-height: 1.7;
    color: #333;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 35px;
    font-size: 1.2rem;
    background: #2fa88d;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.btn:hover {
    background: #20806a;   }




.faq {
    margin-top: 30px;
    text-align: left;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid #cbd5d8;
    border-radius: 10px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    background: #256677;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 15px;
    background: #f7fbfc;
    font-size: 1rem;
}

.faq-answer.open {
    display: block;
}

.arrow {
    transition: 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}


.quiz-buttons {
    display: flex;
    flex-direction: center;
    gap: 20px;
    margin: 30px 0;
}

.answer-btn {
    overflow: hidden;
    position: relative;
    padding: 50px 15px;         
    font-size: 1.1rem;
    border-radius: 10px;
    border: 2px solid #256677;
    background: #eef5f8;
    cursor: pointer;
    transition: transform 5.0s ease;
    transition: rotate 0.1s linear;
    width: 50%;
}

.answer-btn .fill{
    position: absolute;
    inset: 0;
    background: red;
    z-index: -1;

    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.1s linear;
}

.answer-btn:hover {
    background: #dcecef;   }